name: Frontend JSON Generation
on:
  push:
    branches:
      - "master"
    tags:
      - "**"
  pull_request:
    branches:
      - "master"
jobs:
  generate:
    runs-on: ubuntu-latest
    container:
      image: debian:stable-slim
    outputs:
      generated_dataset: ${{ steps.collect-results.outputs.artifact-id }}
    steps:
      - name: Install OS Package Dependencies
        run: |
          apt-get update && \
          apt-get install --no-install-recommends -y \
            python3 \
            python3-venv \
            python3-pip \
            make \
            rsync \
            zstd \
            && \
          apt-get clean
      - name: Checkout Source Code
        uses: actions/checkout@v4
      - name: Install Python Dependencies
        run: |
          python3 -m venv venv
          . venv/bin/activate
          pip3 install -r requirements.txt
      - name: Schema Validating
        run: |
          . venv/bin/activate
          make -j$(nproc) check
      - name: JSON Generation
        run: |
          . venv/bin/activate
          make O=./build -j$(nproc) dist
      - name: Archiving
        run: tar --use-compress-program=zstd -cf "build/dataset.tar.zst" -C "build/dist" .
      - name: Uploading
        uses: actions/upload-artifact@v4
        id: collect-results
        with:
          name: frontend-dataset
          path: build/dataset.tar.zst
          retention-days: 7
  publish:
    runs-on: ubuntu-latest
    needs: generate
    if: github.ref_type == 'tag'
    permissions:
      contents: write
    steps:
      - name: Fetch Artifact
        uses: actions/download-artifact@v5
        with:
          artifact-ids: ${{needs.generate.outputs.generated_dataset}}
      - name: Publish
        id: publish-result
        uses: softprops/action-gh-release@v2
        with:
          name: Automated Frontend Dataset Generation
          body: "Please refer to commit history for detailed changelogs"
          files: dataset.tar.zst
          make_latest: true
    outputs:
      dataset_release_id: ${{ steps.publish-result.outputs.id }}
  deploy:
    runs-on: ubuntu-latest
    needs: publish
    permissions:
      actions: write
    steps:
      - name: Notify
        run: |
          curl -L \
               -X POST \
               -H "Accept: application/vnd.github+json" \
               -H "Authorization: Bearer ${{ secrets.TOKEN_BSP_DB_NOTIFY_WEB }}" \
               -H "X-GitHub-Api-Version: 2022-11-28" \
               https://api.github.com/repos/openeuler-riscv/imagepub-web/actions/workflows/build.yml/dispatches \
               -d '{"ref":"main"}'
